@tailwind base;
@tailwind components;
@tailwind utilities;

.back-img {
    background-image: url('/src/assets/bg.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.9);
}